    <input type="text" name="title" placeholder="title" id="title">
    <input type="text" name="content" placeholder="content" id="content">
    <button id="postbut" >Post</button>
<script src="/newpost.js"></script>