
    <input type="text" name="username" placeholder="username" id="username">
    <input type="password" name="password" placeholder="password" id="password">
    <button id="signupbut" >Sign Up</button>
<script src="/signup.js"></script>
